@model Coursework.Web.Models.FlowerViewModel

@{
    ViewBag.Title = "Create a flower";
}
@using (Html.BeginForm("Create", "Flower", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <br>
    <h2>Create a new flower</h2>
    <hr />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FlowerName, htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.FlowerName, new { htmlAttributes = new { @class = "form-control", } })
                @Html.ValidationMessageFor(model => model.FlowerName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group card-wrapper">
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Create" class="btn btn-default btn-block btn-info" />
            </div>
        </div>
    </div>
}